.nav {
    text-align: center;
}

.nav h1 {
    display: inline-block;
    padding: 10px;
    background-color: aliceblue;
}

.img_settings {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}