#calculator_Div{
    height: 900px;
    width: 100%;
    border:  solid;
    background-color: #f0ecd4;
}

.entry_Space{
    margin: 10px;
    height: 90px;
    width: 97.5%;
    border: 3px solid;
}

#form{
    margin-top: 10px;
    text-align: center;
}

#column_Titles{
    width: 100%;
}

li{
    list-style-type: none;
}
 
#column_Titles ul {
    text-align: left;
}

#column_Titles ul li{
    display: inline-block
}

#course_Title{
    padding-left: 18%;
}

#grade_Title{
   padding-left: 15%;
}

#credits_Title{
    padding-left: 15%;
}

input {
    margin-bottom: 5px;
}

input:focus{
    border-color: #00b894; 
    box-shadow: 0 0 10px #00b894; 
}

#bottom_Buttons{
    padding-right: 45.7% ;
}

#reset_Button{
    padding: 5px;
    border-radius: 8px;
    background-color: gray;
    color: white;
}

#submit_Button{
    padding: 5px;
    border-radius: 8px;
    background-color: green;
    color: white;
}