body{
    height: 100%;
}

#calculator_Div {
    margin-top: 10%;
    height: 100%;
    width: 100%;
    border: solid;
    background-color: #f0ecd4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#column_Titles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    text-align: center;
}

#column_Titles div {
    flex: 1;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry_Row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.entry_Row input {
    width: 30%;
}

input:focus {
    border-color: #00b894;
    box-shadow: 0 0 10px #00b894;
}

#bottom_Buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

#reset_Button, #submit_Button {
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
}

#reset_Button {
    background-color: gray;
    color: white;
}

#submit_Button {
    background-color: green;
    color: white;
}

#grading_Scale_Link{
    text-decoration: none;
    color: gray;
}